<!doctype html>
<html lang="pt-br" ng-app="Walle">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/default/ng-table.css" rel="stylesheet" />
    <link href="css/default/alertify.min.css" rel="stylesheet" id="alerts-css" />
    <link href="css/default/semantic.min.css" rel="stylesheet" id="semantic-css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Walle</title>
</head>

<body ng-controller="IndexController" ng-init="init()">
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper" ng-if="isLogged">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-if="isLogged">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img/logo_walle_mini_2.png" alt="LOGO">
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    <a href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Stats">
                        <i class="fa fa-bar-chart-o"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{sessao}} <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Editar Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="Sair()"><i class="fa fa-fw fa-power-off"></i> Sair</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-default navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-search"></i> Production<i class="fa fa-fw fa-angle-left pull-right"></i></a></li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i>  Clients <i class="fa fa-fw fa-angle-left pull-right"></i></a>
                        <ul id="submenu-2" class="collapse">
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-fw fa-user-plus"></i>  Staff <i class="fa fa-fw fa-angle-left pull-right"></i></a></li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-4"><i class="fa fa-fw fa-star"></i>  Cadastros <i class="fa fa-fw fa-angle-left pull-right"></i></a>
                        <ul id="submenu-4" class="collapse">
                            <li><a ui-sref="cadastro-clientes"><i class="fa fa-angle-right"></i> Cadastro de Clientes</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-paper-plane-o"></i> Pool Management</a>
                    </li>
                    <li><a ui-sref="cadastro_clientes"><i class="fa fa-fw fa fa-question-circle"></i> Outsource</a></li>
                    <li><a href="#"><i class="fa fa-fw fa fa-question-circle"></i> Outsource</a></li>
                    <li><a href="#"><i class="fa fa-fw fa fa-question-circle"></i> Outsource</a></li>
                    <li><a href="#"><i class="fa fa-fw fa fa-question-circle"></i> Outsource</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid margin_views" ui-view="">
                <div ng-include="'footer.html'"> </div>
            </div>
        </div><!-- /#wrapper -->
    </div>

    <div id="page-wrapper" ng-if="!isLogged">
        <div class="container-fluid" ui-view="">
        </div>
    </div><!-- /#wrapper -->



    <script src="js/default/jquery-3.2.1.min.js"></script>
    <script src="js/default/bootstrap.min.js"></script>
    <script src="js/default/alertify.min.js"></script>
    <script src="js/default/angular.js"></script>
    <script src="js/default/angular-ui-router.js"></script>
    <script src="js/default/angular-input-masks-dependencies.js"></script>
    <script src="js/default/angular-input-masks-standalone.js"></script>
    <script src="js/default/ui-bootstrap-tpls.js"></script>
    <script src="js/default/ng-table.min.js"></script>
    <script src="js/core/config.js"></script>
    <script src="js/core/module.js"></script>
    <script src="js/core/service.js"></script>
    <script src="js/core/route.js"></script>
    <script src="js/controllers/indexController.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/cliente/ClienteController.js"></script>
</body>
</html>