<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="login" ng-controller="LoginController" ng-if="!isLogged">
    <div class="container">
        <div class="col-lg-12 login-box">

            <div class="col-lg-6 left-box"></div>

            <div class="col-lg-6 right-box">
                <h1>LOGIN</h1>

                <form role="form" class="form">

                    <div class="form-group">
                        <label for="username"> E-mail / Usuário </label>
                        <input type="text" ng-model="acesso.Des_Email_Login" id="username" class="form-control">

                    </div>

                    <div class="form-group">
                        <label for="password"> Senha </label>
                        <input type="password" ng-model="acesso.Des_Password" id="password" class="form-control">

                    </div>

                    <div class="login-button">
                        <button class="btn btn-default" ng-click="Acessar(acesso)">Login</button>
                    </div>

                </form>
            </div>  <!-- right-box -->

        </div> <!--col-lg-8-->
    </div>
</div>
